ws-segia-local-utilitarios/src/META-INF/wsdl/localhost_8085/segiaserver/UtilitariosWSrv.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.centralserver.co.mz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.centralserver.co.mz/" name="UtilitariosWSrv">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.centralserver.co.mz/" schemaLocation="http://localhost:8085/segiaserver/UtilitariosWSrv?xsd=1" />
</xsd:schema>
</types>
<message name="enviar_email">
<part name="parameters" element="tns:enviar_email" />
</message>
<message name="enviar_emailResponse">
<part name="parameters" element="tns:enviar_emailResponse" />
</message>
<message name="registrar_excepcao">
<part name="parameters" element="tns:registrar_excepcao" />
</message>
<message name="registrar_excepcaoResponse">
<part name="parameters" element="tns:registrar_excepcaoResponse" />
</message>
<message name="buscaBadgeNumber">
<part name="parameters" element="tns:buscaBadgeNumber" />
</message>
<message name="buscaBadgeNumberResponse">
<part name="parameters" element="tns:buscaBadgeNumberResponse" />
</message>
<portType name="UtilitariosWSrv">
<operation name="enviar_email">
<input wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/enviar_emailRequest" message="tns:enviar_email" />
<output wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/enviar_emailResponse" message="tns:enviar_emailResponse" />
</operation>
<operation name="registrar_excepcao">
<input wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/registrar_excepcaoRequest" message="tns:registrar_excepcao" />
<output wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/registrar_excepcaoResponse" message="tns:registrar_excepcaoResponse" />
</operation>
<operation name="buscaBadgeNumber">
<input wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/buscaBadgeNumberRequest" message="tns:buscaBadgeNumber" />
<output wsam:Action="http://webservice.centralserver.co.mz/UtilitariosWSrv/buscaBadgeNumberResponse" message="tns:buscaBadgeNumberResponse" />
</operation>
</portType>
<binding name="UtilitariosWSrvPortBinding" type="tns:UtilitariosWSrv">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="enviar_email">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="registrar_excepcao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaBadgeNumber">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UtilitariosWSrv">
<port name="UtilitariosWSrvPort" binding="tns:UtilitariosWSrvPortBinding">
<soap:address location="http://localhost:8085/segiaserver/UtilitariosWSrv" />
</port>
</service>
</definitions>