ws-segia-local-educstat/src/META-INF/wsdl/localhost_8085/educstatserver/EducStatWSrv.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.centralserver.co.mz/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.centralserver.co.mz/" name="EducStatWSrv">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.centralserver.co.mz/" schemaLocation="http://localhost:8085/educstatserver/EducStatWSrv?xsd=1" />
</xsd:schema>
</types>
<message name="listaEDST_AdministrativePost_District">
<part name="parameters" element="tns:listaEDST_AdministrativePost_District" />
</message>
<message name="listaEDST_AdministrativePost_DistrictResponse">
<part name="parameters" element="tns:listaEDST_AdministrativePost_DistrictResponse" />
</message>
<message name="listaEDST_School_AdministrativePost">
<part name="parameters" element="tns:listaEDST_School_AdministrativePost" />
</message>
<message name="listaEDST_School_AdministrativePostResponse">
<part name="parameters" element="tns:listaEDST_School_AdministrativePostResponse" />
</message>
<message name="buscaEDST_School">
<part name="parameters" element="tns:buscaEDST_School" />
</message>
<message name="buscaEDST_SchoolResponse">
<part name="parameters" element="tns:buscaEDST_SchoolResponse" />
</message>
<message name="listaEDST_School">
<part name="parameters" element="tns:listaEDST_School" />
</message>
<message name="listaEDST_SchoolResponse">
<part name="parameters" element="tns:listaEDST_SchoolResponse" />
</message>
<message name="listaEDST_Zip">
<part name="parameters" element="tns:listaEDST_Zip" />
</message>
<message name="listaEDST_ZipResponse">
<part name="parameters" element="tns:listaEDST_ZipResponse" />
</message>
<message name="listaEDST_Area">
<part name="parameters" element="tns:listaEDST_Area" />
</message>
<message name="listaEDST_AreaResponse">
<part name="parameters" element="tns:listaEDST_AreaResponse" />
</message>
<message name="listaEDST_School_Settlement">
<part name="parameters" element="tns:listaEDST_School_Settlement" />
</message>
<message name="listaEDST_School_SettlementResponse">
<part name="parameters" element="tns:listaEDST_School_SettlementResponse" />
</message>
<message name="listaEDST_Area_Settlement">
<part name="parameters" element="tns:listaEDST_Area_Settlement" />
</message>
<message name="listaEDST_Area_SettlementResponse">
<part name="parameters" element="tns:listaEDST_Area_SettlementResponse" />
</message>
<message name="listaEDST_School_District">
<part name="parameters" element="tns:listaEDST_School_District" />
</message>
<message name="listaEDST_School_DistrictResponse">
<part name="parameters" element="tns:listaEDST_School_DistrictResponse" />
</message>
<message name="listaEDST_School_Type">
<part name="parameters" element="tns:listaEDST_School_Type" />
</message>
<message name="listaEDST_School_TypeResponse">
<part name="parameters" element="tns:listaEDST_School_TypeResponse" />
</message>
<message name="listaEDST_School_Locality">
<part name="parameters" element="tns:listaEDST_School_Locality" />
</message>
<message name="listaEDST_School_LocalityResponse">
<part name="parameters" element="tns:listaEDST_School_LocalityResponse" />
</message>
<message name="listaEDST_School_Area">
<part name="parameters" element="tns:listaEDST_School_Area" />
</message>
<message name="listaEDST_School_AreaResponse">
<part name="parameters" element="tns:listaEDST_School_AreaResponse" />
</message>
<message name="listaEDST_Education">
<part name="parameters" element="tns:listaEDST_Education" />
</message>
<message name="listaEDST_EducationResponse">
<part name="parameters" element="tns:listaEDST_EducationResponse" />
</message>
<message name="listaEDST_AdministrativePost">
<part name="parameters" element="tns:listaEDST_AdministrativePost" />
</message>
<message name="listaEDST_AdministrativePostResponse">
<part name="parameters" element="tns:listaEDST_AdministrativePostResponse" />
</message>
<message name="listaEDST_School_Zip">
<part name="parameters" element="tns:listaEDST_School_Zip" />
</message>
<message name="listaEDST_School_ZipResponse">
<part name="parameters" element="tns:listaEDST_School_ZipResponse" />
</message>
<message name="listaEDST_SchoolTypes">
<part name="parameters" element="tns:listaEDST_SchoolTypes" />
</message>
<message name="listaEDST_SchoolTypesResponse">
<part name="parameters" element="tns:listaEDST_SchoolTypesResponse" />
</message>
<message name="listaEDST_Zip_District">
<part name="parameters" element="tns:listaEDST_Zip_District" />
</message>
<message name="listaEDST_Zip_DistrictResponse">
<part name="parameters" element="tns:listaEDST_Zip_DistrictResponse" />
</message>
<message name="listaEDST_District">
<part name="parameters" element="tns:listaEDST_District" />
</message>
<message name="listaEDST_DistrictResponse">
<part name="parameters" element="tns:listaEDST_DistrictResponse" />
</message>
<message name="listaEDST_Province">
<part name="parameters" element="tns:listaEDST_Province" />
</message>
<message name="listaEDST_ProvinceResponse">
<part name="parameters" element="tns:listaEDST_ProvinceResponse" />
</message>
<message name="listaEDST_District_Province">
<part name="parameters" element="tns:listaEDST_District_Province" />
</message>
<message name="listaEDST_District_ProvinceResponse">
<part name="parameters" element="tns:listaEDST_District_ProvinceResponse" />
</message>
<message name="listaEDST_Zip_School">
<part name="parameters" element="tns:listaEDST_Zip_School" />
</message>
<message name="listaEDST_Zip_SchoolResponse">
<part name="parameters" element="tns:listaEDST_Zip_SchoolResponse" />
</message>
<message name="buscaEDST_Province">
<part name="parameters" element="tns:buscaEDST_Province" />
</message>
<message name="buscaEDST_ProvinceResponse">
<part name="parameters" element="tns:buscaEDST_ProvinceResponse" />
</message>
<message name="buscaEDST_District">
<part name="parameters" element="tns:buscaEDST_District" />
</message>
<message name="buscaEDST_DistrictResponse">
<part name="parameters" element="tns:buscaEDST_DistrictResponse" />
</message>
<portType name="EducStatWSrv">
<operation name="listaEDST_AdministrativePost_District">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AdministrativePost_DistrictRequest" message="tns:listaEDST_AdministrativePost_District" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AdministrativePost_DistrictResponse" message="tns:listaEDST_AdministrativePost_DistrictResponse" />
</operation>
<operation name="listaEDST_School_AdministrativePost">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_AdministrativePostRequest" message="tns:listaEDST_School_AdministrativePost" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_AdministrativePostResponse" message="tns:listaEDST_School_AdministrativePostResponse" />
</operation>
<operation name="buscaEDST_School">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_SchoolRequest" message="tns:buscaEDST_School" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_SchoolResponse" message="tns:buscaEDST_SchoolResponse" />
</operation>
<operation name="listaEDST_School">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_SchoolRequest" message="tns:listaEDST_School" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_SchoolResponse" message="tns:listaEDST_SchoolResponse" />
</operation>
<operation name="listaEDST_Zip">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_ZipRequest" message="tns:listaEDST_Zip" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_ZipResponse" message="tns:listaEDST_ZipResponse" />
</operation>
<operation name="listaEDST_Area">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AreaRequest" message="tns:listaEDST_Area" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AreaResponse" message="tns:listaEDST_AreaResponse" />
</operation>
<operation name="listaEDST_School_Settlement">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_SettlementRequest" message="tns:listaEDST_School_Settlement" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_SettlementResponse" message="tns:listaEDST_School_SettlementResponse" />
</operation>
<operation name="listaEDST_Area_Settlement">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Area_SettlementRequest" message="tns:listaEDST_Area_Settlement" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Area_SettlementResponse" message="tns:listaEDST_Area_SettlementResponse" />
</operation>
<operation name="listaEDST_School_District">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_DistrictRequest" message="tns:listaEDST_School_District" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_DistrictResponse" message="tns:listaEDST_School_DistrictResponse" />
</operation>
<operation name="listaEDST_School_Type">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_TypeRequest" message="tns:listaEDST_School_Type" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_TypeResponse" message="tns:listaEDST_School_TypeResponse" />
</operation>
<operation name="listaEDST_School_Locality">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_LocalityRequest" message="tns:listaEDST_School_Locality" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_LocalityResponse" message="tns:listaEDST_School_LocalityResponse" />
</operation>
<operation name="listaEDST_School_Area">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_AreaRequest" message="tns:listaEDST_School_Area" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_AreaResponse" message="tns:listaEDST_School_AreaResponse" />
</operation>
<operation name="listaEDST_Education">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_EducationRequest" message="tns:listaEDST_Education" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_EducationResponse" message="tns:listaEDST_EducationResponse" />
</operation>
<operation name="listaEDST_AdministrativePost">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AdministrativePostRequest" message="tns:listaEDST_AdministrativePost" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_AdministrativePostResponse" message="tns:listaEDST_AdministrativePostResponse" />
</operation>
<operation name="listaEDST_School_Zip">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_ZipRequest" message="tns:listaEDST_School_Zip" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_School_ZipResponse" message="tns:listaEDST_School_ZipResponse" />
</operation>
<operation name="listaEDST_SchoolTypes">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_SchoolTypesRequest" message="tns:listaEDST_SchoolTypes" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_SchoolTypesResponse" message="tns:listaEDST_SchoolTypesResponse" />
</operation>
<operation name="listaEDST_Zip_District">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Zip_DistrictRequest" message="tns:listaEDST_Zip_District" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Zip_DistrictResponse" message="tns:listaEDST_Zip_DistrictResponse" />
</operation>
<operation name="listaEDST_District">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_DistrictRequest" message="tns:listaEDST_District" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_DistrictResponse" message="tns:listaEDST_DistrictResponse" />
</operation>
<operation name="listaEDST_Province">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_ProvinceRequest" message="tns:listaEDST_Province" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_ProvinceResponse" message="tns:listaEDST_ProvinceResponse" />
</operation>
<operation name="listaEDST_District_Province">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_District_ProvinceRequest" message="tns:listaEDST_District_Province" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_District_ProvinceResponse" message="tns:listaEDST_District_ProvinceResponse" />
</operation>
<operation name="listaEDST_Zip_School">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Zip_SchoolRequest" message="tns:listaEDST_Zip_School" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/listaEDST_Zip_SchoolResponse" message="tns:listaEDST_Zip_SchoolResponse" />
</operation>
<operation name="buscaEDST_Province">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_ProvinceRequest" message="tns:buscaEDST_Province" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_ProvinceResponse" message="tns:buscaEDST_ProvinceResponse" />
</operation>
<operation name="buscaEDST_District">
<input wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_DistrictRequest" message="tns:buscaEDST_District" />
<output wsam:Action="http://webservice.centralserver.co.mz/EducStatWSrv/buscaEDST_DistrictResponse" message="tns:buscaEDST_DistrictResponse" />
</operation>
</portType>
<binding name="EducStatWSrvPortBinding" type="tns:EducStatWSrv">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="listaEDST_AdministrativePost_District">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_AdministrativePost">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaEDST_School">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Zip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Area">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_Settlement">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Area_Settlement">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_District">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_Type">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_Locality">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_Area">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Education">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_AdministrativePost">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_School_Zip">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_SchoolTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Zip_District">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_District">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Province">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_District_Province">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listaEDST_Zip_School">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaEDST_Province">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscaEDST_District">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="EducStatWSrv">
<port name="EducStatWSrvPort" binding="tns:EducStatWSrvPortBinding">
<soap:address location="http://localhost:8085/educstatserver/EducStatWSrv" />
</port>
</service>
</definitions>